name: Lime ios

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - uses: krdlab/setup-haxe@v2
      with:
        haxe-version: 4.3.7
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime --quiet
        haxelib install hxcpp --quiet
    - name: Build project
      run: |
        haxelib run lime build ios -simulator
